.entry-header::after{
	border-bottom: 0px;
	padding-bottom: 0px;
}

.entry-title{
	font-size: 40px;
	text-transform: uppercase;
}

.entry-header{
	overflow: hidden;
}


footer.site-footer{
	background: #222 none repeat scroll 0 0;
	color: #888;
    font-size: 14px;
    font-weight: 300;
    padding: 40px 0;
}

footer.site-footer .expand-footer {
    background: rgba(0, 0, 0, 0) url("../images/expand-footer-inv.svg") no-repeat scroll 50% 50% / 28px auto;
    display: block;
    height: 38px;
    margin: 0 auto 20px;
    text-align: center;
    text-indent: -9999px;
    vertical-align: middle;
    width: 38px;
}

footer.site-footer .footer-widgets .sidebar {
    margin-bottom: 30px;
}

footer.site-footer .footer-widgets .sidebar > h3 {
    color: #333;
    font-size: 16px;
    font-weight: 300;
    margin: 0 0 15px;
}

footer.site-footer .footer-widgets .sidebar > h3 {
	color: #eee;
	text-decoration: underline;
}

footer.site-footer .footer-widgets .sidebar ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

footer.site-footer .footer-widgets .sidebar ul li {
    color: #d5d5d5;
/*     text-transform: uppercase; */
	margin-bottom: 5px;
	padding-bottom: 10px;
}
footer.site-footer .footer-widgets .sidebar ul li a {
    color: #959595;
}
footer.site-footer .footer-widgets .sidebar ul li a:hover {
    color: #fff;
}
footer.site-footer .footer-widgets .sidebar ul li.current-menu-item > a {
    color: #333;
}
footer.site-footer .footer-widgets .sidebar ul li .post-date {
    display: block;
    font-size: 12px;
}
footer.site-footer .footer-widgets .sidebar.widget_search .screen-reader-text {
    display: none;
}
footer.site-footer .footer-widgets .sidebar.widget_search #s {
    margin-bottom: 10px;
    outline: 0 none;
    padding: 5px 10px;
}

.row.footer-widgets{
	background-color: #222;
}


footer.site-footer .footer-bottom {
    border-top: 1px solid #eee;
    margin-top: 20px;
    padding: 40px 0 0;
}

footer.site-footer .footer-bottom {
    border-color: #3a3a3a;
}

.follow-us-icon-color{
	color: #222;
}

.sidebar .textwidget a:hover{
	color: #999;
}

.sidebar{
	width: 100%;
}

.sidebar .textwidget{
	padding-bottom: 10px;
}

.site-footer .wrap{
	max-width: 100% !important;
}

.site-footer .footer-widgets .col-sm-3{
	width: 20%;
}

.heart_img{
/* 	width: 300px; */
}

@media (min-width: 1200px){
	.front-page-2 .col-lg-3{
		width: 20%;
	}
	
}

@media (max-width: 500px){
	.front-page-2 .col-lg-3{
		width: 100%;
	}
	
}

.front-page-2 .hvr-pulse-grow{
	display: block;
}

.image-section{
	background: rgba(0, 0, 0, 0.03) repeat scroll 0 0;
}

.front-page-1 .image-section h2{
	color: #111;
	background: rgba(255, 255, 255, 0.3) none repeat scroll 0 0;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 5px;
}

.image-section .button.clear{
	border-color: #111;
	color: #111;
	padding
}

.site-description {
    display: block;
    font-size: 18px;
    height: 10px;
    margin-bottom: 20px;
    margin-top: 0;
    text-indent: 0;
    color: #111;
}

.site-header .account-dropdown{
	display: none;
}

@media (max-width: 1023px){
	.site-description{
		text-align: center;
	}		
	
	.title-area{
		width: 100% !important;
	}
	
	.gift-vouchers-menu{
		display: none !important;
	}
	
	
}

@media (min-width: 768px) and (max-width: 1023px){
	.site-header .nav-top-component{
		display: none;
	}

	.site-header .account-dropdown{
		display: inherit;
	}
}

@media (min-width: 1023px){
	.nav-bottom-component{
	    margin-top: 10px;
		float: right;
		margin-bottom: 6px;
	}	
	
	.nav-top-component{
		margin-top: 15px;
		
	}	
	
	
	
}

@media (max-width: 768px){
	
	.navbar-toggle{
		display: block;
	}
	
	.entry-title{
		font-size: 30px;
	}
	
}


.navbar-default{
	background-color: transparent;
	border: none;
}

.navbar-toggle{
	float: none;
	margin-left: auto;
	margin-right: auto;
}

#top-nav .navbar-nav li a{
	display: block;
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 10px 15px;
    text-transform: uppercase;
}

#top-nav .navbar-nav.nav-bottom-component li a{
	color: #333;
}

.shopping-cart-icon{
	color: #ED162D;
	margin-top: -5px;
}

#top-nav .hvr-shutter-out-horizontal {
    backface-visibility: hidden;
    background: #ED162D none repeat scroll 0 0;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    display: inline-block;
    position: relative;
    transform: translateZ(0px);
    transition-duration: 0.3s;
    transition-property: color;
    vertical-align: middle;
}
#top-nav .hvr-shutter-out-horizontal::before {
    background: #e1e1e1 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: scaleX(0);
    transform-origin: 50% 50% 0;
    transition-duration: 0.3s;
    transition-property: transform;
    transition-timing-function: ease-out;
    z-index: -1;
}
#top-nav .hvr-shutter-out-horizontal:active, #top-nav .hvr-shutter-out-horizontal:focus, #top-nav .hvr-shutter-out-horizontal:hover {
    color: #333;
}
#top-nav .hvr-shutter-out-horizontal:active::before, #top-nav  .hvr-shutter-out-horizontal:focus::before, #top-nav .hvr-shutter-out-horizontal:hover::before {
    transform: scaleX(1);
}

#top-nav .custom-button{

    color: #fff;
    cursor: pointer;
    margin: 0.4em;
    padding: 1em;
    text-decoration: none;
}

.custom-button:hover{
	
}

.navbar{
	margin-bottom: 0;
}

@media (min-width: 768px){
	
	.nav-top-component{
		float: right;
	}
	
	.romantic-float-shadow {
	    backface-visibility: hidden;
	    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	    display: inline-block;
	    position: relative;
	    transform: translateZ(0px);
	    transition-duration: 0.3s;
	    transition-property: transform;
	    vertical-align: middle;
	}
	.romantic-float-shadow::before {
	    background: rgba(237, 22, 45, 0) radial-gradient(ellipse at center center , rgba(237, 22, 45, 0.75) 0px, rgba(237, 22, 45, 0) 80%) repeat scroll 0 0;
	    content: "";
	    height: 10px;
	    left: 5%;
	    opacity: 0;
	    pointer-events: none;
	    position: absolute;
	    top: 100%;
	    transition-duration: 0.3s;
	    transition-property: transform, opacity;
	    width: 90%;
	    z-index: -1;
	}
	.romantic-float-shadow:active, .romantic-float-shadow:focus, .romantic-float-shadow:hover {
	    transform: translateY(-5px);
	}
	.romantic-float-shadow:active::before, .romantic-float-shadow:focus::before, .romantic-float-shadow:hover::before {
	    opacity: 1;
	    transform: translateY(5px);
	}

}

.site-header.dark .title-area{
	width: 150px;
}

.site-header.dark .site-description{
	display: none;
}

.site-header.dark .nav-top-component{
	display: none;
}

.site-header.dark .site-title{
	margin-top: 0px;
}

.site-header.dark .account-dropdown{
	display: inherit;
}

@media (max-width: 1200px){
	.site-description{
		display:none;
	}
	
	.title-area{
		width: 200px;
	}	
}





